/* App.css */

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.main-row {
    display: grid;
    position: relative;
    grid-template-columns: auto auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}


.main-column-left {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 2rem;
}

.main-column-right {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 0.5rem;
}

.main-button {
    border-radius: 25px;
    background-color: var(--button-color);
    /* Use the button color variable */
    color: var(--button-text);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    width: 110px;
    height: 50px;
    text-align: center;
}